
<div class="header1">
    <nav>
        <a href="/"><img src="{{url_for('static', filename='image/logo.png')}}" class="logo" ></a>
        <ul class="nav-linkss">
            <li><a href="/" >Home</a></li>
            <li><a href="">Reviews</a></li>
            <li><a href="">Contact</a></li>
            {% if current_blog %}
            <li><a href="/addblog">Add Blog</a></li>
            <li><a href="/add_detail">Blog List</a></li>


           
            <a href="/logout" class="btn">Logout</a>
            <img class="profile-pic " src="/media/{{session.current_user.image}}" >

            
            {% else %}
            <a href="/login" class="btn">Log In</a>
            
            {% endif %}






        </ul>
       
    </nav>
    </div>